<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net462" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net462" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net462" />
</packages>